<html>
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('bootstrap') }}
    {% endblock %}


    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
        .form-signin .checkbox {
            font-weight: 400;
        }
        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

    </style>
</head>

<body class="text-center">

    <script type="text/javascript">
        var _web_root ='';
        function erecho($val){
            alert($val);
        }
    </script>
    <script src="/temp_js/jquery-1.12.4.min.js"></script>
    <script src="/temp_js/scripts.lib.func.js"></script>
    <script src="/temp_js/scripts.lib.ajax.js"></script>

    {% if app.user %}
        <form class="form-signin" method="post">
            <!--img class="mb-4" src="/docs/4.6/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"-->
            <h1 class="h3 mb-3 font-weight-normal">Вы уже авторизованы</h1>
            <div class="mb-3">
                <a href="{{ path('app_logout') }}">Выход</a>
            </div>
        </form>
    {% else %}
    <form class="form-signin" method="post">
        <!--img class="mb-4" src="/docs/4.6/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"-->
        <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>

        <div class="mb-3">
            <label for="inputPhone" class="sr-only">Телефон</label>
            <input type="tel" name="login" id="inputPhone" class="form-control" value="" placeholder="Номер телефона" required autofocus>
        </div>

        <div class="mb-3">
        <button class="btn btn-lg btn-primary btn-block js_get_code" type="button">Получить код</button>
        </div>

        <div class="mb-3">
            <label for="inputCode" class="sr-only">Код из смс</label>
            <input type="text" name="code" id="inputCode" class="form-control" placeholder="Код из смс" required>
        </div>

        <div class="mb-3">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>
        <button class="btn btn-lg btn-primary btn-block js_enter" type="button">Зарегистрироваться</button>
    </form>

    {% endif %}

    <script type="text/javascript">

        $(document).ready(function(){
            $('.js_get_code').on('click', function(){

                sendajax(-1, "reg_get_code", {'login': $('#inputPhone').val()},function(reply, popup){
                    alert(reply.mess);
                }, false, function(){

                })

                return false;
            });

            $('.js_enter').on('click', function(){

                sendajax(-1, "reg", {'login': $('#inputPhone').val(), 'password': "", 'code': $('#inputCode').val(), 'reg':'1'},function(reply, popup){
                    alert("Поздравляем, вы успешно авторизовались ("+reply.data.phone+"), перенаправление...");
                    setTimeout(function(){
                        location.href="/form/reg";
                    }, 500)
                }, false, function(){

                })
                return false;
            });
        });

//let app = require('./scripts.lib.func');
//alert(app.rand(1111,9999));
//alert(rand(1111,9999));
//alert(jQuery('#inputPhone').val()+"!!!!!!");
//alert($('#inputPhone').val());
    </script>
</body>
</html>
